.slideshow-edit{
  @image-item-height: 150px;
  @image-item-width: 200px;

  .indent-bottom{
    margin-bottom: 10px;
  }

  .slide-title{
    font-size: 1.5em;
    width: 100%;
    padding: 5px;
    line-height: 1;
    height: 34px;
  }

  .glyphicon{
    color: @gray-lighter;
    text-shadow: 0 1px 1px @gray-darker;
    font-size: 3rem;
    cursor: pointer;
  }

  .initial-add-btn{
    font-size: 4rem;
    width: @image-item-width;
    height: @image-item-height;
    text-align: center;
    line-height: @image-item-height;
    background-color: @gray-lighter;
  }

  .image-item{
    width: @image-item-width;
    height: @image-item-height;
    background: @gray-lighter no-repeat center center;
    background-size: contain;
    position: relative;
    //border: 1px solid @gray-lighter;
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 10px;

    &:last-of-type{
      margin-right: 40px;
    }

    .slide-number{
      background: @gray-lighter-alpha-75;
      padding: 1px 5px;
      font-weight: bold;
    }

    .glyphicon-edit{
      position: absolute;
      top: @image-item-height/3 - 30px/2;
      left: @image-item-width/3 - 30px/2;
      height: auto;
      width: auto;
      display: none;
    }

    .glyphicon-trash{
      position: absolute;
      top: @image-item-height/3 - 30px/2;
      left: @image-item-width*2/3 - 30px/2;
      height: auto;
      width: auto;
      display: none;
    }

    .glyphicon-plus {
      position: absolute;
      right: ~"calc(100% + 5px)";
      top: (@image-item-height - 30px) / 2;

      &.last-plus{
        right: auto;
        left: ~"calc(100% + 5px)";
      }
    }

    .image-text{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: @image-item-height/15 + @image-item-height/7;
      padding: (@image-item-height/30) 0;
      text-align: center;
      font-size: @image-item-height/7;
      font-weight: bold;
      line-height: 1;
    }

    &:hover{
      .glyphicon-edit,
      .glyphicon-trash{
        display: block;
      }
    }

    &:not(:hover){
      .image-text{
        background: @gray-lighter-alpha-25;
        border-radius: 0;
        left: 0;
        width: 100%;
        border: none;
        box-shadow: none;
        color: @red;
        //text-shadow: 0 1px 1px @gray-darker;
      }
    }

  }
}