.box-shadow(){
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.box-shadow-sm(){
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.clickable(){
  cursor: pointer;
  position: relative;

  .box-shadow();

  &:active{
    top: 1px;
    .box-shadow-sm();
  }
}

.absolute-fit(@indent: 0px){
  position: absolute;
  top: @indent;
  left: @indent;
  right: @indent;
  bottom: @indent;
}

.border-on-hover(@border-width: 3px, @indent: -1px){
  &:hover{
    &:after{
      .absolute-fit(@indent);
      content: ' ';
      border: @border-width solid @brand-primary;
    }
  }
}

.image-item-text(@image-item-height){
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: (@image-item-height/30) 0;
  text-align: center;
  font-size: @image-item-height/7;
  font-weight: bold;
  line-height: 1;
}