.slideshow{
  @image-item-height: 700px;

  .slideshow-title{
    margin-top: 0;
    text-align: center;
  }

  .image-item{
    width: 100%;
    height: @image-item-height;
    background: @gray-lighter no-repeat center center;
    background-size: contain;
    position: relative;

    .back-btn,
    .forward-btn{
      cursor: pointer;
      position: absolute;
      width: 25%;
      height: 100%;
      //background-color: rgba(255, 128, 128, 0.25);
    }

    .image-text{
      .image-item-text(@image-item-height);

      color: @red;
      text-shadow: 0 1px 1px @gray-darker;
      background: @gray-lighter-alpha-25;
    }

    .back-btn{
      left: 0;
    }

    .forward-btn{
      right: 0;
    }
  }

}