<div class="slideshow">
    <h3 class="slideshow-title">{{slideList.title}}</h3>

    <div
        class="image-item"
        ng-repeat="slide in slideList.slides"
        ng-show="$index == activeImageIdx"
        ng-style="{
            'background-image': 'url('+uploadedImagesPath + slide.image+')'
        }"
    >
        <div class="image-text">{{slide.text}}</div>
        <div class="back-btn" ng-click="prevImage()"></div>
        <div class="forward-btn" ng-click="nextImage()"></div>
    </div>
</div>
