<div class="modal-header">
    <h3 class="modal-title">Gallery</h3>
</div>
<div class="modal-body gallery-modal">
    <i
        type="file"
        ngf-select="uploadFiles($file, $invalidFiles, slide)"
        accept="image/*"
        ngf-max-height="3000"
        ngf-max-size="10MB"

        class="glyphicon glyphicon-plus blank-item"
    ></i>

    <div
        ng-repeat="filename in files"
        ng-click="selectFile(filename)"
        class="gallery-item"
        ng-class="{
            'framed': selectedFilename == filename
        }"
        ng-style="{
            'background-image': 'url('+imagesPath + filename+')'
        }"
    ></div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button
        class="btn btn-primary"
        type="button"
        ng-disabled="!selectedFilename"
        ng-click="choose()">Choose</button>
</div>