<div class="modal-header">
    <h3 class="modal-title">
        Gallery

        <button
            class="btn btn-default"
            ng-class="{'btn-primary': filter == 'today'}"
            type="button"
            ng-click="setImageFilter('today')"
        >Today</button>

        <button
            class="btn btn-default"
            ng-class="{'btn-primary': filter == 'yesterday'}"
            type="button"
            ng-click="setImageFilter('yesterday')"
        >Yesterday</button>

        <button
            class="btn btn-default"
            ng-class="{'btn-primary': filter == 'all'}"
            type="button"
            ng-click="setImageFilter('all')"
        >All</button>
    </h3>
</div>
<div class="modal-body gallery-modal">
    <i
        type="file"
        ngf-select="uploadFiles($file, $invalidFiles, slide)"
        accept="image/*"
        ngf-max-height="5000"
        ngf-max-size="15MB"

        class="glyphicon glyphicon-plus blank-item"
    ></i>

    <div
        ng-repeat="file in files"
        ng-click="selectFile(file.filename)"
        ng-dblclick="choose()"
        class="gallery-item"

        ng-if="isGalleryItemVisible(file)"

        ng-class="{
            'framed': selectedFilename == file.filename
        }"
        ng-style="{
            'background-image': 'url('+imagesPath + file.filename+')'
        }"
    ></div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button
        class="btn btn-primary"
        type="button"
        ng-disabled="!selectedFilename"
        ng-click="choose()">Choose</button>
</div>