<div class="slideshow-list">
    <a
        ng-if="isEdit"
        class="slideshow glyphicon glyphicon-plus initial-add-btn"
        href="/slideshow-edit/"
    ></a>

    <div
        ng-repeat="slide in slideList"
        class="slideshow"
        ng-style="{
            'background-image': 'url('+uploadedImagesPath + slide.image+')'
        }"
    >
        <a
            href="/slideshow{{isEdit ? '-edit' : ''}}/{{slide.id}}"
        >
            <i
                ng-if="isEdit"
                class="glyphicon glyphicon-edit ghost-icon"
            ></i>
            <div class="image-text">{{slide.title}}</div>
        </a>
    </div>
</div>
